.order__section h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
    border-bottom: 1px solid lightgray;
}
.order__item {
    background-color:rgb(148, 255, 219);
    margin-bottom: 10px;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}
.order__item span:hover {
    cursor: pointer;
}
