// .news__section {

// }
.news__title {
    margin-bottom: 6px;
    border-bottom: 1px solid lightgray;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news__title span:hover {
    cursor: pointer;
}
.news__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.news__item {
    width: 100%;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 3px 3px 3px -3px rgba(140, 140, 140, 1);
    display: flex;
    justify-content: space-between;
}
.news__itemRight {
    min-width: 110px;
    width: 110px;
    text-align:right;
}
.news__itemLeft p:nth-child(1) {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news__itemLeft p:nth-child(2) {
    font-size: 14px;
    margin-left: 10px;
}
.news__itemLeft {
    max-width: 50vw;
}
@media (min-width: 997px) {
    .news__section {
        max-width: 340px;
        height: 98%;
        position: fixed;
        left:10px;
    }
    .news__itemLeft {
        max-width: 180px;
    }

}