// .booking__section {

// }
.booking__section h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
    border-bottom: 1px solid lightgray;
}
.booking__section p {
    font-size: 14px;
}
.booking__info {
    width: 100%;
    align-items:flex-start;
    gap: 30%;
    padding-left: 26px;
}
.booking__list {
    width: 100%;
    flex-direction: column;
}
.booking__item {
    width: 100%;
    max-height: 100px;
    background-color: white;
    padding: 4px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px -3px rgba(140, 140, 140, 1);
    border-radius: 8px;
    margin-bottom: 6px;

    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.booking__section,
.booking__info,
.booking_list {
    display: flex;
}
.booking__itemUp {
    width: 100%;
    font-size: 16px;
    background-color: rgb(255, 255, 255);   

    display: flex;
    justify-content: space-between;
}
.booking__itemUp > div:nth-of-type(1) {
    width: 100px;
}
.booking__itemUp > div:nth-of-type(2) {
    width: 100px;
}
.booking__itemUp > div:nth-of-type(3) {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px;
    gap: 10px;
}
.booking__itemUp span {
    cursor: pointer;
}
.booking__itemUp span:hover {
    cursor: pointer;
}
.booking__itemDown {
    width: 100%;
    font-size: 12px;
    padding-inline: 4px;
    border-top: 1px solid rgb(175, 175, 175);
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
}
.booking__itemUp_date > p {
    text-align: right;
}
.booking__itemDown > p:last-child {
    text-align: right;
    
}
@media (min-width: 768px) {
    .booking__section p {
        font-size: 16px;
    }
    .booking__itemDown {
        font-size: 14px;
        padding-inline: 24px;     
    }
}