// $primary-color: rgb(100, 100, 100);
// $accent-color: rgb(167, 124, 7);
// $hover-color: rgb(177, 134, 17);
@use "../variables" as v;
$nav-height: 64px;
.nav {
    color: v.$font-color;
    position: sticky;
    top: 0;
    z-index: 20;
}
.nav_container {
    background-color: v.$primary-color;
    border-bottom: solid 4px v.$accent-color;
    padding: 10px 10px 10px 30px;

    height: $nav-height;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_list_active,
.nav_list {
    transition: 0.5s;
    min-width: 260px;
    height: 100%;
    background-color: v.$primary-color;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 6px solid v.$accent-color;


    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav_list {
    transition: 0.5s;
    right: -260px;
}
.nav_listEl {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid v.$border-color;

}
.nav_list_active li,
.nav_list li {
    padding: 6px;

    display: flex;
    align-items: center;
}
// .nav_listEl:hover {
//     background-color: $hover-color;
// }
.nav_listItem,
.nav_listItem_active {
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    line-height: 50px;

}
.nav_btn,
.nav_btn_active {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 16px;
    right: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nav_btn span,
.nav_btn_active span {
    background-color: v.$hamburger-main-color;
    transition: 0.3s;
}
.nav_btn :nth-child(2) {
    background-color: v.$accent-color;
}
.nav_btn_active :nth-child(1) {
    transform: rotate(45deg) translate(9px,8px);
}
.nav_btn_active :nth-child(2) {
    transform: translate(-15px,-1px);
    opacity: 0;
}
.nav_btn_active :nth-child(3) {
    transform: rotate(-45deg) translate(9px,-8px);
}
.nav_btnSpan {
    height: 6px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(49, 49, 49);

}
@media (min-width:768px) {
    #lock {
        position: absolute;
        top: 4px;
        right: 4px;
    }
    .nav_container {
        height: 80px;
        border-bottom: 4px solid v.$accent-color;
    }
    .nav_btn {
        display: none;
    }
    .nav_list {
        border: none;
        flex-direction: row;
        gap: 6px;
        position: static;
    }
    .nav_listEl {
        width: auto;
        border: none;
        height: 60px;

    }
    .nav_listEl:hover {
        color: v.$hover-color;
        transition: 0.5s;
    }
    .nav_listEl:first-child {
        display: none;
    }
    .nav_listEl:nth-child(2) {
        color: rgb(255, 255, 255);
        background-color: v.$accent-color;
        border-radius: 16px;
    }
    .nav_listEl:nth-child(2):hover {
        background-color: v.$hover-color;
    }
    .nav_userImage {
        width: 48px;
        height: 48px;
        margin-left: 20px;


        background-color: rgb(241, 241, 241);
        border-radius: 50%;
        border: 1px solid black;
        transition: 0.5s;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav_userImage:hover {
        transition: 0.5s;
        background-color: v.$user-hover;
    }
}