//NAVBAR
$primary-color: rgb(60, 60, 60);
$accent-color: rgb(167, 124, 7);
$user-hover: rgb(255, 240, 198);
$hover-color: rgb(177, 134, 17);
$font-color: rgb(209, 209, 209);
$border-color: rgb(99, 99, 99);
$hamburger-main-color: white;

//FOOTER
$footer-item-border: rgb(214, 214, 214);
$footer-background: rgba(255, 217, 0, 0.068);
$footer-border: rgb(56, 56, 56);
//ADMIN
$container-background: rgb(252, 252, 252);
$container-border: rgb(202, 202, 202);
$container-shadow: rgba(66, 68, 90, 1);
$image-border: rgb(161, 161, 161);


//NEWS
$box-shadow: rgba(140, 140, 140, 1);

