@use '/styles/variables' as v;

.backgroundParent {
    box-sizing: content-box;
    position: relative;
    box-shadow: 0px 30px 90px -6px rgba(136, 136, 136, 1);
    min-height: 400px;
    z-index: 0;
    border-bottom: 2px solid v.$primary-color-light;   
}
.container {
    background-color: transparent;
}
// .wrapper {
//     margin: 0 auto;
//     padding: 0 16px;
//     max-width: 1200px;
// }
.section1 h1 {
    width: 100%;
    border-bottom: 1px solid v.$secondary-color-dark;
    text-align: center;
    color: v.$secondary-color;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
}
.section1  h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
}
.container  p {
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: 300;
}
.section1 p {
    max-width: 600px;
}
.section1_background{
    border-block: 1px solid v.$primary-color;
    color: white;
    width: 100vw;
    height: auto;
    background-image: url('/onas-tlo.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 8vw;
    .before{
        opacity: 0.7;
    }
}
.welcomeMessage {
    display: none;
}
.section1 {
    width: 100%;
}
.section1_flex_container {
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.section1_flex_item {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    height: auto;
}
.section1_image {
    box-sizing: content-box;
    width: 80vw;
    height: auto;
    position: relative;
    & > img {
        box-shadow: 4px 6px 4px -2px rgb(41, 42, 48)!important;
    }
}

.section1_flex_item > picture:first-child {
    float: left;
}
.section1_flex_item > picture:nth-child(2) {
    float: right;
}
// SEKCJA 2
.section2 {
    color: white;
    background-color: v.$primary-color;
    width: 100%;
    padding: 10px 8vw;
}
.section2_flex_container {
    margin: auto;
    max-width: 1000px;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section2 h2 {
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    color: v.$secondary-color-dark;
}
.section2 h4 {
    font-weight: 200;
    color: v.$secondary-color-dark;
}
.section2_headers {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}
@media (min-width:480px) {
    .container  p {
        line-height: 2rem;
        font-size: 16px;
    }
    .welcomeMessage {
        display: block;
        background-color: inherit;
        color: white;
    
        position: absolute;
        left: auto;
        top: 260px;
        left: 40px;
        z-index: 1;
    
        padding: 16px;
        max-height: 120px;
        max-width: 300px;
        border: 1px solid 
    }
    .welcomeMessage > h1 {
        padding: 0;
        margin: 0;
    }
    .section1_flex_item picture:nth-child(1){
        align-self: flex-start;
    }
    .section1_flex_item picture:nth-child(2){
        align-self: flex-end;
    }
    .section1_image {
        width: 50vw;
    }
}
@media (min-width:768px) {
    .section1_flex_container {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
    }
    .section1_image {
        width: 350px;
    }
    .section1_flex_container > div:last-child{
        width: 70vw;
        max-width: 700px;
    }
    .section1_flex_item picture:nth-child(1){
        align-self: flex-start;
    }
    .section1_flex_item picture:nth-child(2){
        align-self: flex-end;
    }
    
}

@media (min-width:1024px) {
    .section1_image {
        width: 400px;
    }
}