.container {
    padding: 10px;
}
.order_info_container {
    box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_info_container picture {
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 10px;
}
.order_options_container {
    display: flex;
    flex-direction: column;
}
.order_options_container input {
    background-color: rgb(243, 243, 243);
    color: black;
    height: 34px;
    padding: 2px 6px;
    font-size: 16px;
    margin: 4px;
    outline: none;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 2px;
}
.order_options_container input:nth-of-type(1) {
    width: 240px;
}
