@use "./variables" as v;

.image__container {
    background:linear-gradient( rgba(35, 36, 22, 0.678) 100%,
    rgba(252, 0, 0, 0.2) 100%), url("/aktualnosci.jpg");
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-height: 400px;

    color: white;
    font-size: 30px; 
    text-align: center;
}
.image__container h1 {
    padding-top: 160px;
}
.news__section {
    padding: 20px 20px;
    margin-top: 20px;
}
.news__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.news__item {
    width: 600px;
    height: 500px;
    box-shadow: 3px 3px 1px 2px v.$box-shadow;
}
.news__itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.news__itemInfo p:first-child {
    font-size: 24px;
    margin: 4px 4px;
    font-weight: bold;
}
.news__itemInfo p:last-child {
    font-size: 18px;
    margin-left: 16px;
}