@use "./variables" as v;

.image__container {
    background:linear-gradient( rgba(35, 36, 22, 0.678) 100%,
    rgba(252, 0, 0, 0.2) 100%), url("/aktualnosci.jpg");
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    min-height: 400px;

    color: white;
    font-size: 30px; 
    text-align: center;
}
.image__container h1 {
    padding-top: 160px;
    font-size: 30px;
}
.news__section {
    width: 100%;
}
.news__item_list {
    padding: 50px 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.news__item_wrapper {
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 6px 6px 14px -4px rgba(66, 68, 90, 1);
    border-radius: 6px;
    border: 1px solid lightgray;
}
.news__item_wrapper:hover {
    filter: brightness(50%);
}
.news__item {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.news__item_image > img {
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
}
.news__item_info {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news__item_info > p:first-child {
    font-size: 18px;
}
.news__item_info > p:last-child {
    font-size: 16px;
    text-align: right;
}

// SZCZEGÓŁY ARTYKUŁU
.newsDetails__container {
    padding: 20px 10px;
    gap: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;

}
.newsDetails__imageContainer {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
}
.newsDetails__container > article h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}
.newsDetails__container > article > p {
    line-height: 26px;
    letter-spacing: normal;
}
.newsDetails__container > article {
    max-width: 900px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
}
.newsDetails__image {
    box-shadow: 0px 0px 9px 0px rgba(66, 68, 90, 1);
}
@media  (min-width:768px) {
    .newsDetails__container {
        padding-inline: 40px;
    }
    .newsDetails__imageContainer {
        width: 600px;
    }
    .newsDetails__container > article {
        padding: 20px;
    }
    .news__item {
        width: 600px;
    }
    .news__item_info > p:first-child {
        font-size: 20px;
    }
    .news__item_info > p:last-child {
        font-size: 18px;
        text-align: right;
    }
    .image__container h1 {
        padding-top: 160px;
        font-size: 46px;
    }
}
